body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color:#EEEFF1;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 80px;
    font-weight: 600;
}

.btn-black {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 29);
    color: white;
    font-weight: 500;
    width: auto;
    max-width: 200px;
    border-radius: 8px;
}

.btn-black-jumbo {
    /* width: auto; */
    max-width: fit-content;
    margin-top: 0;
    padding: 15px 35px;
    font-size: 20px;
    line-height: 20px;
    background-color: rgb(29, 29, 29);
    color: white;
}

.btn-black-jumbo:hover, .btn-black:hover {
    color: white;
    background-color: black;
}

.work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
}

.work-card {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    height: 600px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0.8));
    padding: 25px;
    color: white;
    text-decoration: none;
}

.work-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media (min-width: 576px) {
    .btn-black {
        padding: 12px 25px !important;
    }
}
    